<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/paymentResult.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet"
    />
    <title>Successful Payment</title>
  </head>
  <body>
    <div class="container">
      <h1>Paid Successfully!</h1>
      <p>
        Thank you for your payment. Your transaction has been completed
        successfully.
      </p>
      <p>
        For more exciting offers, book more campsites
        <a href="/campgrounds">here</a>.
      </p>
    </div>
  </body>
</html>
